@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    letter-spacing: .5px;
}

header h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 3rem;
  padding: 1rem 0;
  color: #282929;
}

main {
    max-width: 1000px;
    margin: 20px auto;
}

footer {
    text-align: center;
    border-top: 1px solid gray;
    padding: 10px;
}

a:link {
    color: purple;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
}

a:active {
    color: #282929;
}

/* Vertical Navigation Bar */

nav ul {
    list-style-type: none;
    text-align: center;
    border-top: 2px solid #14afc7;
    border-bottom: 2px solid #14afc7;
    font-weight: bold;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding-right: 10px;
}

nav a:link {
    color: #282929;
}

nav a:visited {
    color: #14afc7;
}

nav a:hover {
    color: gray;
    text-decoration: none;
}

nav a:active {
    color: greenyellow;
}

h1 {
    text-align: center;
}



/* CSS For Tablets */

@media only screen and (max-width: 1024px){
    h1 {
        font-size: 2em;
    }
}

/* CSS For Smartphones */

@media only screen and (max-width: 768px){
    h1 {
        font-size: 1.5em;
    }
}

.home-hero {
  background-image: url(images/header.jpg);
  height: 475px;
  background-size: cover;
  background-position: center;
  color: #042837;
  padding: 10px 10px 10px 30px;
}

.home-hero * {
  font-weight: bold;
}

blockquote {
  background-color: #eee;
  border-left: 10px solid #14afc7;
  padding: 30px;
}

.pups__nav {
  margin: 0;
  padding: 1rem;
}

.pups__nav-item {
  padding: 0 .5rem;
}

.pups {
  text-align: center;
}

.pups__pup {
  text-align: center;
  font-weight: bold;
  padding-top: .25rem;
}

.pups__footer {
  background: #282929;
  padding: 1.5rem 0 0;
}

.pups__footer__icon {
  font-size: 3rem;
  color: #14afc7;
  padding-bottom: .25rem;
}

.pups__footer__link {
  color: white;
  text-align:center;
}

@media only screen and (max-width: 768px) {
  .pups__footer__link {
    padding-bottom: 1.5rem;
    white-space: nowrap;
    font-size: .875rem;
  }
}

.pups__footer__copy {
  color: white;
  padding: 2rem 0 .75rem;
}